.indexView{
	max-width: 100%;
	max-height: 100%;
	min-width: 375px;
	min-height: 300px;
	
	min-width: 100%;
	min-height: 100%;
	
	width: 100%;
	height: 100%;
	position: absolute;
	border: 1px #CCCCCC solid;
	left: 0px;
	top: 0px;
	z-index: 1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	perspective: 500px;
	-webkit-perspective: 500px;
}
.indexView.active{
	z-index: 2;
}
.indexHead{
	width: 100%;
	height: 38px;
	background-color: #FFFFFF;
	position: relative;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.indexHead>i{
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 24px;
}
.indexHead>h4{
	position: absolute;
	width: 240px;
	height: 100%;
	line-height: 38px;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	font-size: 18px;
}
.indexViewOption{
	width: 90px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}
.indexViewOption>a{
	width: 30px;
	height: 100%;
	line-height: 38px;
	color: #333333;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.indexViewOption>a:hover{
	background-color: #CFCFD0;
	color: #FFFFFF;
}
.indexViewOption>a:active{
	background-color: #337AB7;
	color: #FFFFFF;
}

.indexBody{
	width: 100%;
	height: calc( 100% - 38px );
	background-color: #F1F1F1;
	position: relative;
	border: 3px #FFFFFF solid;
	border-top: 0px;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 3px #999999;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: inline-block;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	perspective: 500px;
	-webkit-perspective: 500px;
	overflow: auto;
}
.indexBoxRight{
	width: 5px;
	height: 100%;
	position: absolute;
	cursor: w-resize;
	top: 0px;
	right: 0px;
	z-index: 5;
}
.indexBoxBottom{
	width: 100%;
	height: 5px;
	position: absolute;
	cursor: n-resize;
	left: 0px;
	bottom: 0px;
	z-index: 5;
}
.indexBoxBottomRight{
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: nw-resize;
	right: 0px;
	bottom: 0px;
	z-index: 6;
}

.minViewBox{
	width: 150px;
    height: 38px;
    margin: 6px;
    position: relative;
    display: inline-block;
}
.minViewBox>div{
	width: 112px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	background-color: #EAECF1;
	color: #333333;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.minViewBox>div:hover{
	background-color: #DADADA;
}
.minViewBox>div:active{
	color: #ffffff;
	background-color: #61A0D4;
}
.minViewBox>a{
	width: 38px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	box-sizing: border-box;
	border-left: 1px rgba(157, 161, 165, 0.68) solid;
	background-color: #15679E;
}
.minViewBox>div>i{
	color: #0666AD;
}